/* Layout Size */
$main-header-height : 60px;

/* Colors */
$color__white: 			#ffffff;
$color__black: 			#000000;

$color__green: 			#006c39;
$color__green--light: 	#4bb131;

$color__lime: 			#a6cd83;
$color__lime--dry: 		#a6cd83;




// boostrap overrides:
